.ImageMesh {
  display: flex;
  justify-content: center;
  align-items: center;

  .chunk {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;

    > .chunk {
      width: 50%;
      height: 50%;
    }
  }

  .ImageMesh__fragment {
    position: relative;
    transition: all 200ms ease-in-out;
    flex: 50%;

    .fragment__image {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .image-gap-enter-done {
    padding: 2px;
  }
}
