@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.Spinner {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000dd;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;

  .Spinner__icon {
    width: 40px;
    height: 40px;
    background-color: #00754f;
    border-radius: 50%;

    animation-timing-function: linear;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }
  .Spinner__text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 10;
    color: white;
  }
}
