.Home {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #333354;
  display: flex;
  align-items: center;
  justify-content: center;

  .Home__container {
    overflow: hidden;
    background-color: #fefefe;
    box-shadow: 0 0 20px 1px #222;
    width: min-content;
    padding: 5px;
  }
}
